@import "../../styles/_variables.css";

.menu {
	height: var(--menu-height);
	display: flex;
	align-items: center;
	position: fixed;
	width: 100%;
	margin: 0;
	background-color: var(--menu-bg-color);
}

.menu__item {
	list-style: none;
}

.menu__item:first-of-type {
	margin-right: auto;
	font-weight: var(--font-weight-bold);
}
