:root {
	/**
	 * COLORS
	 */

	/* non-exportable */
	--golden-yellow: #ffe100;
	--cerulean-blue: #0083aa;
	--allports-blue: #1c5e7d;
	--white: #fff;
	--black: #000;

	/* exportable */
	--button-bg-color: var(--black);
	--button-color-active: var(--golden-yellow);
	--button-border-color: var(--allports-blue);
	--main-bg-color: var(--white);
	--menu-bg-color: var(--cerulean-blue);
	--menu-color: var(--white);

	/**
	 * LAYOUT
	 */

	/* media queries */

	/* --mobile-sm-max-width: 35.5rem; */

	/* --mobile-med-max-width: 48rem; */
	--app-max-width: 76.5rem;

	/* sizing */
	--menu-height: 3.5rem;
	--menu-height-med-mobile: 7rem;
	--gutter-width: 3rem;
	--gutter-width-med-mobile: 2rem;
	--gutter-width-sm-mobile: 1rem;

	/**
	 * TYPOGRAPHY
	 */
	--font-weight-standard: 300;
	--font-weight-bold: 400;
}
