:root {
	/* LAYOUT */
	--menu-height: 3.5rem;
	--menu-side-padding: 3rem;

	/* COLORS */

	/* non-exportable */
	--cerulean-blue: #0083aa;
	--white: #fff;

	/* exportable */
	--main-bg-color: var(--white);
	--menu-bg-color: var(--cerulean-blue);
	--menu-color: var(--white);

	/* TYPOGRAPHY */
	--font-weight-standard: 300;
	--font-weight-bold: 400;
}
